body {	background-image:
  		linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
 		url("images/background.jpg");
		background-size: cover;
		font-family: 'Open Sans', sans-serif;
}

.container {	width: 80%;	
				margin: 0 auto;
}

a:link, a:visited { 	color: grey;
 						text-decoration: none;
 }

h1 { color :white;
	font-weight: lighter;
	text-align: center;
	font-size: 100px;
	letter-spacing: 8px;
	margin-top: 0; }

h2 {color: white;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px; }

/* Page Vidéos */

#videotable { padding-top: 60px;
			margin:auto; }

td.vide { width: 40px; }

#Rose {	background-image: url(./images/video-like-a-rose-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 450px 255px;
		height: 300px;
		width: 450px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px;
}

#Love {	background-image: url(./images/video-big-love-550-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 450px 255px;
		height: 300px;
		width: 450px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px
}

#June {	background-image: url(./images/video-waitin-on-june-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 450px 255px;
		height: 300px;
		width: 450px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px
}

#Doors {background-image: url(./images/video-numbered-doors-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 450px 255px;
		height: 300px;
		width: 450px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 80px
}

#Hollywood {	background-image: url(./images/video-hollywood-530x300.jpg);
				background-repeat: no-repeat;
				background-size: 450px 255px;
				height: 300px;
				width: 450px;
				font-weight: bold;
	 			color: white;
	 			padding-bottom: 80px
}

#Youngblood {	background-image: url(./images/video-youngblood-530x300.jpg);
				background-repeat: no-repeat;
				background-size: 450px 255px;
				height: 300px;
				width: 450px;
				font-weight: bold;
	 			color: white;
	 			padding-bottom: 80px
}

/* Fin Page Vidéos */