body {	background-image:
  		linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
 		url("images/background.jpg");
		background-size: cover;
		font-family: 'Open Sans', sans-serif;
}

.container {	width: 80%;	
				margin: 0 auto;
				overflow: visible;
}

a:link, a:visited { 	color: grey;
 						text-decoration: none;
 }

h1 { color :white;
	font-weight: lighter;
	text-align: center;
	font-size: 100px;
	letter-spacing: 8px;
	margin-top: 0; }

h2 {color: white;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px; }

/* Lecteur Audio */

#albumImage { 	background-image: url(images/album-01.jpg);
				background-size: 50px;
				height: 50px;
				width: 50px;
				margin: 0;
				padding: 0; }

#playPause,#albumImage,#sArea,#aTime,#aPlayed,#aTotal
{
	display:table-cell;
	vertical-align:middle;
}

#player,#aTm
{
	display:table;
	width:100%;
}

#playerCover
{
	width:126%;
	margin-left: -13%;
	background-color: black;
	top: 50%;
	margin-top: -24px;
}

#insTime
{
	position: absolute;
	top: -37px;
	padding: 5px 7px;
	font-size: 14px;
	color: #fff;
	background-color: #000;
	border-radius: 4px;
	display:none;
}

#playPause
{
	width:18px;
}

#aTime
{
	width: 100px;
	font-size:14px;
}

#aPlayed
{
	border-right: 1px solid grey;
	color: grey;
}

#aTotal { color: grey; }

#playPause,#aTime
{
	text-align:center;
	color:#fff;
	padding:15px;
}

#sHover
{
	position: absolute;
	top:0px;
	left: 0px;
	height:52px;
	background-color: #fff;
	width: 0px;
	z-index: 3;
	opacity: 0.3;
}

#sArea,#seekBar
{
	position:relative;
}

#sArea
{	
	height:50px;
}

#seekBar
{
	width: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	height:18px;
	padding: 15px 0px;
	left: 0px;
	color: #fff;
	z-index: 2;
	background-color: black;
}

#trackName
{
	padding-left: 15px;
	color: white;
	z-index: 1;
}

#playPause,#sArea
{
	cursor:pointer;
}

#seName
{
	padding-left:15px;
	white-space: pre;
}

/* Fin Lecteur Audio */


/* Page Vidéos */

#videotable { padding-top: 60px;
			margin:auto; }

td.vide { width: 40px; }

#Rose {	background-image: url(./images/video-like-a-rose-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 500px 283px;
		height: 320px;
		width: 500px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px;
}

#Love {	background-image: url(./images/video-big-love-550-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 500px 283px;
		height: 320px;
		width: 500px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px
}

#June {	background-image: url(./images/video-waitin-on-june-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 500px 283px;
		height: 320px;
		width: 500px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 60px
}

#Doors {background-image: url(./images/video-numbered-doors-530x300.jpg);
		background-repeat: no-repeat;
		background-size: 500px 283px;
		height: 320px;
		width: 500px;
		font-weight: bold;
	 	color: white;
	 	padding-bottom: 80px
}

#Hollywood {	background-image: url(./images/video-hollywood-530x300.jpg);
				background-repeat: no-repeat;
				background-size: 500px 283px;
				height: 320px;
				width: 500px;
				font-weight: bold;
	 			color: white;
	 			padding-bottom: 80px
}

#Youngblood {	background-image: url(./images/video-youngblood-530x300.jpg);
				background-repeat: no-repeat;
				background-size: 500px 283px;
				height: 320px;
				width: 500px;
				font-weight: bold;
	 			color: white;
	 			padding-bottom: 80px
}

/* Fin Page Vidéos */

/* Page Photos */

#gallery { 	padding-top: 50px;
			padding-bottom: 50px;
			margin: auto;
			margin-left: -50px;}

.ligne1 { display: flex;
		margin-bottom: 0; }

#img1 { width: 69%; }

.columnImg {display: flex; 
			flex-direction: column; }

#img2 { width: 113%;
		padding-left: 5px;
		padding-bottom: 5px; }

#img3 { width: 113%;
		padding-left: 5px; }

.ligne2 { display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		width: 97%;
		padding-top: 5px; }

#img4 { width: 43.7%; }

#img5 { width: 43.7%; 
		padding-left: 5px; }

#img6 { width: 19.4%; 
		padding-left: 5px; }

.ligne3 { display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding-top: 5px;
		width: 97%; }

#img7 { width: 31.4%; }

#img8 { width: 31.4%;
		padding-left: 5px; }

#img9 { width: 14%;
		padding-left: 5px; }

#img10 { width: 29.7%; 
		padding-left: 5px; }

/* Fin Page Photos */

/* Début Page Contact */

.formulaire { float: left; }

.formulaire input, select, textarea { background-color: rgba(0,0,0, 0.3);	
									border-color: grey;
									border-radius: 0;
									border: 1px;
									height: 35px; }