body {	background-image:
  		linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
 		url("images/background.jpg");
		background-size: cover;
		font-family: 'Open Sans', sans-serif;
}

.container {	width: 80%;	
				margin: 0 auto;
}

a:link, a:visited { 	color: grey;
 						text-decoration: none;
 }

h1 { color :white;
	font-weight: lighter;
	text-align: center;
	font-size: 100px;
	letter-spacing: 8px;
	margin-top: 0; }

h2 { color: white;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 2px; }




	/********************** Tour Page **********************/

.tab {

	
	overflow: hidden;
		padding-left: 600px;
		padding-right: 400px


}

.tab button {
background-color: inherit;
    border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
 
 
  
}



.tab button:hover {
	
background-color: #272424;

}

.tab button.active {

 background-color: #272424;
  
}


.tab button.tablinks1 {
	
	background-color: #272424;
	 opacity: 0.8;
	
}
 
 

.shorttext { 

	color: gray;
	color: #c9c9c9;
	padding-top: 40px;
	padding-bottom: 10px;
	width: 94%;	
	margin: auto;

	}

table {
	
	width: 94%;	
	margin: auto;
	color: gray;
	color: #c9c9c9;
	margin-bottom: 60px;
	
}

.month {

	width: 4%;
}

td.day{
	
	font-weight: bold;
		color: white;

}

.table {  

	border-collapse: collapse;
	width: 1500px;
	height: auto;
	
}

	
th, td {

	border-bottom: 0.8px solid #ddd;
	padding-top: 25px;
	padding-bottom: 25px; 

}

.city { 

	table-layout: fixed;
	width: 50%;
	
}

td.month7 {

text-overflow: top;
padding-bottom: 100px;
}

td.day7 {

	font-weight: bold;
	color: white;
	padding-bottom: 100px;
	

}

td.city p { 
	word-wrap: break-word;         
    overflow-wrap: break-word;

	
}

td.lieux7 {

	padding-bottom: 100px;

}

/********************** Tour Page **********************/



/********************** Records Page **********************/

.imagerecords {

	margin-bottom: 35px;
	display: inline-block;
}

.tablinks { opacity: 0.8;
	
	
}

.tablinks p {

	background-color: #272424;
	
	color: grey;
	text-align-last: center;
	width: 300px;
	font-size: smaller;
	padding-top: 5px;
	padding-bottom:5px;
	margin-top: -5px;

}

.releaseyear {

	color: grey;
		
}



.albuminformation {
padding-left: 50px;
padding-right: 30px;
width: 1000px;
text-align-last: left;
}

.information {

	display: flex;
	flex-wrap: wrap;
	}

#vivienne img {

	width: 380px;
}	
/********************** Records Page **********************/



/********************** FOOTER **********************/

iframe { display: block;
		margin: 0 auto;

}

.updates {	display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			justify-content: space-around;
			margin-bottom: 60px;
}

#about_obsidian {	width: 33%;

}

#vivenne {	width: 33%;
			padding-left: 30px;
			padding-right: 30px;
}

#recent_posts {	width: 33%;

}

#social {	margin-top: 20px;
			display: flex;
			align-items: baseline;
			align-items: center;
			justify-content: space-between;
			height: 40px;
			padding-left: 550px;
			padding-right: 550px;
}

i.fab { 	display: inline-block;
			color: white;
			height: 30px;
			width: 30px;
		}

p { color: #c9c9c9;
	line-height: 30px; }

h3 { color: white;
	font-size: 15px;
	letter-spacing: 1.5px; }

h4 { color: #c9c9c9;
	margin-top: 30px;
	margin-bottom: 10px; }

h5 { color: #c9c9c9; }

time {color: #636363; }

/********************** FOOTER **********************/



/********************** Bio Page **********************/

.photosbio img {

width: 50%;
padding-left: 30%;
padding-right: 30%;
margin-top: 20px;
margin-left: -80px;
margin-right: auto;
align-content: center;
background-color: rgba(192,192,192,0.3);

}


.maintextbio {

	color: grey;
	width: 50%;
	padding-left: 25%;
	padding-right: 25%;
	margin-bottom: 30px;

}
/********************** Bio Page **********************/
=======
                /* CSS */
#videotable { 
            padding-top: 60px;
            margin:auto; }th[scope="voyant"] { font-weight: bold;
            color: white;
            text-align: left; }th[scope="discret"] { font-weight: 400;
            color: grey;
            text-align: right; }td.vide { width: 40px; }
#Rose { 
        background-image: url(./images/video-like-a-rose-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px;}
#Love {    
        background-image: url(./images/video-big-love-550-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px
}#June {   
        background-image: url(./images/video-waitin-on-june-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px
}


#gallery {     padding-top: 50px;
            padding-bottom: 50px;
            margin: auto;
            margin-left: -50px;}.ligne1 { display: flex;
        margin-bottom: 0; }#img1 { width: 69%; }.columnImg {display: flex;
            flex-direction: column; }#img2 { width: 113%;
        padding-left: 5px;
        padding-bottom: 5px; }#img3 { width: 113%;
        padding-left: 5px; }.ligne2 { display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 97%;
        padding-top: 5px; }#img4 { width: 43.7%; }#img5 { width: 43.7%;
        padding-left: 5px; }#img6 { width: 19.4%;
        padding-left: 5px; }.ligne3 { display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 5px;
        width: 97%; }#img7 { width: 31.4%; }#img8 { width: 31.4%;
        padding-left: 5px; }#img9 { width: 14%;
        padding-left: 5px; }#img10 { width: 29.7%;
        padding-left: 5px; }/* Fin Page Photos */
/* Page Vidéos */#videotable { padding-top: 60px;
            margin:auto; }td.vide { width: 40px; }#Rose {    background-image: url(./images/video-like-a-rose-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px;
}#Love {    background-image: url(./images/video-big-love-550-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px
}#June {    background-image: url(./images/video-waitin-on-june-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 60px
}#Doors {background-image: url(./images/video-numbered-doors-530x300.jpg);
        background-repeat: no-repeat;
        background-size: 500px 283px;
        height: 320px;
        width: 500px;
        font-weight: bold;
         color: white;
         padding-bottom: 80px
}#Hollywood {    background-image: url(./images/video-hollywood-530x300.jpg);
                background-repeat: no-repeat;
                background-size: 500px 283px;
                height: 320px;
                width: 500px;
                font-weight: bold;
                 color: white;
                 padding-bottom: 80px
}#Youngblood {    background-image: url(./images/video-youngblood-530x300.jpg);
                background-repeat: no-repeat;
                background-size: 500px 283px;
                height: 320px;
                width: 500px;
                font-weight: bold;
                 color: white;
                 padding-bottom: 80px
}/* Fin Page Vidéos */

/*=========IN UPCOMING GIGS=========*/
#UPC {
    border-collapse: collapse;
    padding-top: 60px;
    width: 100%;
    color: white;
}

.upcoming {
    font-stretch: 500%; 

}

th, td {    
    border-bottom: 0.8px solid #ddd;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mois {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.jour {
    font-size: 15px;
    text-align: left;
}

.ville {
    font-weight: bold;
}

/*=====OUT UPCOMINGS GIGD=====*/



/*=====NEWS=====*/

#newstext {
    width: 700px;
    height: 800px;
    float: left;
    color: white;
    font-size: 18px;
    padding-right: 120px;
    padding-bottom: 100px;
    overflow: auto;
    
}

#newstext h3 {
    font-size: 12px
}

#newstext



#lastestnews h1,h2 {
    font-size: 18px;
    text-align: left;


}


#lastestnews {
    margin-top: 100px;
    margin-left: 250px;
    float: right;
    color: white;
    font-size: 18px;
    padding: 0, 20px, 0, 20px;
    width: 20%;
    height: 100%;
    font-stretch: extra-expanded;
    padding-bottom: 200px;
    padding-right: 100px;
    margin-top: 10px;
    margin-right: 30px;

}

#larecherche {
    float: right;
    margin-right: 200px;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:transparent;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 76px;
    text-decoration:none;

}



